extends base

block content
    main.main
        .error
            .error__title
                h3.heading-secondary.heading-secondary--error Houston, we have a problem...
            .error__msg= message